.brand{
  &__back{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    img{
      margin-right: 15px;
      width: 30px;
    }
  }
  &__row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 40px;
    @include media(1200){
      width: 100%;
    }
    @include media($md){
      flex-direction: column;
    }
    &:first-of-type{
      @include media(992){
        flex-direction: column;
      }
    }
    &-item{
      max-width: calc(50% - 10px);
      width: 100%;
      @include media(992){
        max-width: calc(50% - 10px);
        width: 100%;
      }
      @include media($md){
        max-width: 100%;
        width: 100%;
      }
    }
  }
  &__col{
    width: calc(50% - 10px);
    @include media(992){
      width: 100%;
    }
  }
  &__form{
    max-width: 400px;
    @include media(992){
      margin-bottom: 70px;
    }
  }
  &__label{
    margin-bottom: 10px;
    margin-top: 16px;
    display: block;
  }
  &__title{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 10px;
  }
  &__p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 32px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: max-content;
  }
  &__item{
    background: #C4C4C4;
    border-radius: 15px;
    min-width: calc(50% - 10px);
    aspect-ratio: 1/1;
    width: 220px;
    max-width: 220px;
    @include media(992){
      margin-bottom: 10px;
      max-width: calc(50% - 5px);
    }
    &:first-child{
      margin-bottom: 20px;
      @include media(992){
        margin-bottom: 10px;
      }
    }
  }
  &__btn{
    margin-top: 38px;
    background: #000000;
    border-radius: 5px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 8px 0;
    transition: box-shadow 200ms ease;
    @media (hover: hover){
      &:hover{
        box-shadow: 0px 2px 10px 0px #00000040;
      }
    }
  }
}