.connect{
  margin-bottom: 100px;
  &__title{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 30px;
  }
  &__form{
    @include media(992){
      margin-bottom: 50px;
    }
  }
  &__row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include media(992){
      flex-direction: column;
    }
  }
  &__item{
    width: calc(50% - 100px);
    @include media(1200){
      width: calc(50% - 25px);
    }
    @include media(992){
      width: 100%;
    }
  }
  &__label{
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
  }
  &__btn{
    margin-top: 40px;
    max-width: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    background: #000000;
    border-radius: 5px;
    padding-bottom: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    border: none;
    color: #FFFFFF;
  }
  &__p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 50px;
  }
  &__docs{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__doc{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    &-p{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
    }
    &-img{
      margin-right: 25px;
      width: 48px;
      @include media($sm){
        margin-right: 6px;
        width: 30px;
      }
    }
    &:first-child{
      margin-bottom: 50px;
    }
  }
}