*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  &:focus,
  &:active{
    outline: none;
  }
}
a{
  text-decoration: none;
}
button{
  cursor: pointer;
  font-family: inherit;
}
html{
  height: 100%;
}
body{
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main{
  flex: 1 1 auto;
  width: 100%;  
}
.product{
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  padding: 0 30px 23px 30px; 
  &::before{
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.35) 68.75%);
  }
  &-bg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
  }
  &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    @include media($md){
      font-size: 16px;
      line-height: 120%;
    }
  }
  &__link{
    &-img{
      width: 30px;
    }
  }
}
.label{
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.input{
  width: 100%;
  padding-left: 8px;
  height: 35px;
  background: rgba(196, 196, 196, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  border-radius: 5px;
  font-family: inherit;
}
.popup{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(#000, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: 200ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  &:target{
    opacity: 1;
    visibility: visible;
  }
  &__close{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &__body{
    &-with-bg{
      padding: 25px 30px;
      background: url('../images/entering.webp') center / cover no-repeat;
      border-radius: 15px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      @include media($sm){
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  &-call{
    &__title{
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
      max-width: 126px;
      width: 100%;
      margin-right: 54px;
      @include media($sm){
        max-width: 260px;
      }
    }
    &__form{
      @include media($sm){
        width: 100%;
      }
    }
    &__row{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
    }
    &__label{
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 6px;
      display: block;
      margin-left: 14px;
      color: #FFFFFF;
      @include media($sm){
        margin-left: 0;
        margin-top: 15px;
      }
    }
    &__input{
      opacity: 1;
      color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.1);
      &::placeholder{
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.4);
      }
    }
    &__btn{
      background: #fff;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: -10px;
      border: none;
    }
  }
  &-thanks{
    &__title{
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      max-width: 406px;
      color: #FFFFFF;
    }
  }
}