mixin about()
  .about 
    .about__body.container
      h2.about__title О нас
      .about__row 
        .about__item
          p.about__p Компания «Восьмая Империя» — это успешно развивающаяся российская компания, стабильный производитель и надежный партнер.<br><br>Компания более 15 лет занимается производством и продажей кулинарной продукции и является владельцем торговой марки «Блинни Бон».<br><br>Широкий ассортимент, состоящий из всевозможной кулинарии. У нас трудятся и создают продукты профессиональные повара и технологи, результатом чего является высокое качество нашей продукции — большой выбор ассортимента, производимый из отборных компонентов, с удобной в использовании упаковкой.
          .header__btns.about__btns
            a(href="#!").header__btn Каталог
            a(href="#!").header__btn.header__btn_black Заказать
        .about__item
          img(src="images/intro-3.webp", alt="gray block").about__item-bg 
          a(href="#!").about__link Смотреть каталог продукции <img src="images/arrow-right.svg" alt="arrow right" class="about__link-i"> 
      .about__advantages 
        .about__advantages-item 
          img(src="images/about-advantages-1.webp", alt="european-union 1").about__advantages-img
          .about__advantages-content 
            p.about__advantages-title Европейское оборудование
            p.about__advantages-p Использование передовых технологий на основе современного европейского оборудования позволяет нам обеспечивать качество, исключительный вкус и питательные свойства каждого продукта.
        .about__advantages-item 
          img(src="images/about-advantages-2.webp", alt="delivery").about__advantages-img
          .about__advantages-content 
            p.about__advantages-title Индивидуальная доставка
            p.about__advantages-p Использование передовых технологий на основе современного европейского оборудования позволяет нам обеспечивать качество, исключительный вкус и питательные свойства каждого продукта.
        .about__advantages-item 
          img(src="images/about-advantages-3.webp", alt="top").about__advantages-img
          .about__advantages-content 
            p.about__advantages-title Контроль качества
            p.about__advantages-p Контроль качества продукции производится на всех этапах производства (собственная производственная лаборатория).
        .about__advantages-item 
          img(src="images/about-advantages-4.webp", alt="top brand").about__advantages-img
          .about__advantages-content 
            p.about__advantages-title Поддержка брендовой продукции
            p.about__advantages-p Собственные марчендайзеры и продавцы, предоставление рекламных материалов, проведение акций/дегустаций