mixin brands()
  .brands 
    .brands__body.container 
      h2.brands__title Наши бренды
      .brands__row  
        .brands__item 
          .brands__item-content
            img(src="images/intro-3.webp", alt="gray block").brands__img
            a(href="#!").brands__link   
              img(src="images/arrow-right.svg", alt="right arrow").brands__link-img 
          a(href="#!").brands__btn Подробнее 
        .brands__item 
          .brands__item-content
            img(src="images/intro-3.webp", alt="gray block").brands__img
            a(href="#!").brands__link   
              img(src="images/arrow-right.svg", alt="right arrow").brands__link-img 
          a(href="#!").brands__btn Подробнее 
        .brands__item 
          .brands__item-content
            img(src="images/intro-3.webp", alt="gray block").brands__img
            a(href="#!").brands__link   
              img(src="images/arrow-right.svg", alt="right arrow").brands__link-img 
          a(href="#!").brands__btn Подробнее 
        .brands__item 
          .brands__item-content
            img(src="images/intro-3.webp", alt="gray block").brands__img
            a(href="#!").brands__link   
              img(src="images/arrow-right.svg", alt="right arrow").brands__link-img 
          a(href="#!").brands__btn Подробнее 
