mixin footer()
  footer.footer 
    .footer__body.container 
      .footer__row
        .footer__item
          h3.footer__title Информация
          ul.footer__list 
            li.footer__li 
              a(href="#!").footer__link О Нас 
            li.footer__li 
              a(href="#!").footer__link Оплата и доставка 
        .footer__item
          h3.footer__title Бренды
          ul.footer__list 
            li.footer__li 
              a(href="#!").footer__link БлинниБон
            li.footer__li 
              a(href="#!").footer__link Цыганка Сэра
            li.footer__li 
              a(href="#!").footer__link Yummy
            li.footer__li 
              a(href="#!").footer__link Space Coffe
        .footer__item
          h3.footer__title Каталог продукции
          ul.footer__list
            li.footer__li
              a(href="#!").footer__link Блины
            li.footer__li
              a(href="#!").footer__link Сырники
            li.footer__li
              a(href="#!").footer__link Роллы, Сэндвичи
            li.footer__li
              a(href="#!").footer__link Буррито
        .footer__item
          h3.footer__title Контакты
          ul.footer__list
            li.footer__li
              a(href="#!").footer__link Московская обл., г. Домодедово,<br>д. Павловское,<br>территория Промкомбинат, стр.6<br>8 (495) 255-00-58 (доб 100)<br>«ВОСЬМАЯ ИМПЕРИЯ», 2018
            li.footer__li
              a(href="#!").footer__link.footer__btn Заказать звонок
      p.footer__p 2021. ООО “8 Империя”. Политика конфиденциальности.