mixin header()
  header.header 
    .header__nav.container 
      a(href="index.html").header__logo
        img(src="images/logo.webp", alt="wheat").header__logo-img
      .header__menu 
        ul.header__list 
          li.header__li 
            a(href="#!").header__link О Нас 
          li.header__li 
            a(href="#!").header__link Оплата и доставка
          li.header__li 
            a(href="#!").header__link Продукция
          li.header__li 
            a(href="#!").header__link Контакты
        .header__btns 
          a(href="#").header__btn Каталог
          a(href="#!").header__btn.header__btn_black Заказать  
      button.header__button 
        span.header__button-line