mixin intro()
  .intro 
    .intro__body.container 
      .intro__item.intro__item_big
        img(src="images/intro-1.webp", alt="Сотрудничество с компанией готовой продукции").intro__item-bg
        img(src="images/logo-light.webp", alt="Восьмая империя").intro__item-logo
        .intro__item-row
          p.intro__item-title Сотрудничество с компанией готовой продукции
          a(href="#!").intro__item-more Подробнее <img src="images/arrow-right-big.svg" alt="more">
      .intro__items 
        .intro__item.intro__item_small.product
          img(src="images/intro-2.webp", alt="Запуск нового бренда").product-bg
          .product__row 
            p.product__title Запуск нового бренда
            a(href="#!").product__link 
              img(src="images/arrow-right.svg", alt="more").product__link-img 
        .intro__item.intro__item_small.product
          img(src="images/intro-3.webp", alt="Запуск нового бренда").product-bg
          .product__row 
            p.product__title Кейтеринг Yummy 
            a(href="#!").product__link 
              img(src="images/arrow-right.svg", alt="more").product__link-img 
  .sponsors
    .sponsors__body.container
      .sponsors__item
        img(src="images/sponsors-1.webp", alt="Auchan").sponsors__item-img
      .sponsors__item
        img(src="images/sponsors-2.webp", alt="x5retailGroup").sponsors__item-img
      .sponsors__item
        img(src="images/sponsors-3.webp", alt="globus").sponsors__item-img
      .sponsors__item
        img(src="images/sponsors-4.webp", alt="billa").sponsors__item-img
      .sponsors__item
        img(src="images/sponsors-5.webp", alt="selgros").sponsors__item-img
      .sponsors__item
        img(src="images/sponsors-1.webp", alt="Auchan").sponsors__item-img
      .sponsors__item
        img(src="images/sponsors-2.webp", alt="x5retailGroup").sponsors__item-img
      .sponsors__item
        img(src="images/sponsors-3.webp", alt="globus").sponsors__item-img
      .sponsors__item
        img(src="images/sponsors-4.webp", alt="billa").sponsors__item-img
      .sponsors__item
        img(src="images/sponsors-5.webp", alt="selgros").sponsors__item-img