doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="styles/index.css")
  body 
    .wrapper
      include components/header.pug
      +header 
      main.main 
        .brand
          .brand__body.container
            a(href="index.html").brand__back <img src="images/arrow-left.svg"> Вернуться назад 
            .brand__row
              .brand__col
                p.brand__title Сотрудничество с компанией <br>готовой продукции
                p.brand__p Руководителям и владельцам ресторанов и кафе, <br>буфетов и столовых, а также всем заинтересованным <br>лицам! Компания "Восьмая Империя" предлагает <br>сотрудничество в части реализации нашей продукции. <br>Мы являемся производителями готовой продукции: <br>блины без начинки, блинчики с начинкой, оладьи, <br>сырники, а так же наша компания является владельцем <br>торговой марки «Блинни Бон».
                form(action="").brand__form
                  label(for="name").label.brand__label Ваше Имя
                  input(type="text" id="name" required).input.brand__input  
                  label(for="tel").label.brand__label Телефон
                  input(type="tel" id="tel" required).input.brand__input  
                  button(type="submit").brand__btn Отправить
              .brand__col.brand__items 
                .brand__item
                .brand__item
                .brand__item
                .brand__item
            .connect__item.brand__row
              p.connect__p.brand__row-item Внимание! Неправильно указанный номер телефона, неточный или неполный адрес могут привести к дополнительной задержке!<br>Пожалуйста, внимательно проверяйте ваши персональные данные при оформлении заказа.<br>Конфиденциальность ваших регистрационных данных гарантируется.
              .connect__docs.brand__row-item
                a(href="#!").connect__doc 
                  img(src="images/pdf.svg", alt="pdf").connect__doc-img
                  p.connect__doc-p Презентация <br>компании
                a(href="#!").connect__doc 
                  img(src="images/pdf.svg", alt="pdf").connect__doc-img
                  p.connect__doc-p Прайс-лист <br>продукции 2021
                a(href="#!").connect__doc 
                  img(src="images/excel.svg", alt="excel").connect__doc-img
                  p.connect__doc-p Прайс-лист <br>продукции 2021<br>Exel
                a(href="#!").connect__doc 
                  img(src="images/excel.svg", alt="excel").connect__doc-img
                  p.connect__doc-p Бланк заказа <br>товаров 2021
      include components/footer.pug
      +footer 
    script(src="scripts/index.js") 