doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="styles/index.css")
  body 
    .wrapper
      include components/header.pug
      +header 
      main.main 
        .catering 
          .catering__body.container 
            a(href="index.html").brand__back <img src="images/arrow-left.svg"> Вернуться назад 
            .catering__row 
              .catering__col
                h3.catering__title Сотрудничество с компанией <br>готовой продукции
                .catering__info <img src="images/correct.svg" alt="correct" class="catering__info-img"> Руководителям и владельцам <br>ресторанов и кафе,  
                .catering__info <img src="images/correct.svg" alt="correct" class="catering__info-img"> Руководителям и владельцам <br>ресторанов и кафе,  
                .catering__info <img src="images/correct.svg" alt="correct" class="catering__info-img"> Руководителям и владельцам <br>ресторанов и кафе,  
                a(href="#!").catering__btn Связаться с менеджером 
              .catering__col
                img(src="images/intro-3.webp", alt="").catering__main-img 
                .catering__slider
                  .catering__slider-item
                    img(src="images/cocacola.svg", alt="coca-cola").catering__slider-item__img
                  .catering__slider-item
                    img(src="images/zara.svg", alt="zara").catering__slider-item__img
                  .catering__slider-item
                    img(src="images/walmart.svg", alt="walmart").catering__slider-item__img
                  .catering__slider-item
                    img(src="images/cocacola.svg", alt="coca-cola").catering__slider-item__img
                  .catering__slider-item
                    img(src="images/zara.svg", alt="zara").catering__slider-item__img
                  .catering__slider-item
                    img(src="images/walmart.svg", alt="walmart").catering__slider-item__img
        .grads
          .grads__body.container 
            .grads__item
              img(src="images/gradient-1.svg", alt="gradient").grads__item-bg
              img(src="images/intro-3.webp", alt="gray block").grads__item-abs
              p.grads__item-p Руководителям и владельцам <br>ресторанов и кафе, 
            .grads__item
              img(src="images/gradient-2.svg", alt="gradient").grads__item-bg
              img(src="images/intro-3.webp", alt="gray block").grads__item-abs
              p.grads__item-p Руководителям и владельцам <br>ресторанов и кафе, 
            .grads__item
              img(src="images/gradient-3.svg", alt="gradient").grads__item-bg
              img(src="images/intro-3.webp", alt="gray block").grads__item-abs
              p.grads__item-p Руководителям и владельцам <br>ресторанов и кафе, 
        .products 
          .products__body.container 
            .products__item
              img(src="images/intro-3.webp", alt="gray-block").products__item-bg
              p.products__item-p Руководителям и владельцам <br>ресторанов и кафе, 
            .products__item
              img(src="images/intro-3.webp", alt="gray-block").products__item-bg
              p.products__item-p Руководителям и владельцам <br>ресторанов и кафе, 
            .products__item
              img(src="images/intro-3.webp", alt="gray-block").products__item-bg
              p.products__item-p Руководителям и владельцам <br>ресторанов и кафе, 
            .products__item
              img(src="images/intro-3.webp", alt="gray-block").products__item-bg
              p.products__item-p Руководителям и владельцам <br>ресторанов и кафе, 
        .cooperation  
          .cooperation__body.container 
            p.cooperation__p Сотрудничество с компанией <br>готовой продукции
            .cooperation__row 
              .cooperation__item 
                img(src="images/intro-3.webp", alt="").cooperation__item-img
              .cooperation__item 
                img(src="images/intro-3.webp", alt="").cooperation__item-img
              .cooperation__item 
                img(src="images/intro-3.webp", alt="").cooperation__item-img
        .prods 
          .prods__body.container
            .prods__cats
              button.prods__cat Все
              button.prods__cat.active Блины
              button.prods__cat Сырники
              button.prods__cat Крепы
              button.prods__cat Сэндвичи
              button.prods__cat Роллы 
              button.prods__cat Буррито
            .prods__row
              .prods__content
                .prods__item
                  img(src="images/prods.webp", alt="Eybisi Salad Mix").prods__item-img
                  p.prods__item-title Eybisi Salad Mix
                  p.prods__item-p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  p.prods__item-price $14.99
                  button.prods__item-btn
                    img(src="images/plus.svg", alt="plus").prods__item-btn__img
                .prods__item
                  img(src="images/prods.webp", alt="Eybisi Salad Mix").prods__item-img
                  p.prods__item-title Eybisi Salad Mix
                  p.prods__item-p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  p.prods__item-price $14.99
                  button.prods__item-btn
                    img(src="images/plus.svg", alt="plus").prods__item-btn__img
                .prods__item
                  img(src="images/prods.webp", alt="Eybisi Salad Mix").prods__item-img
                  p.prods__item-title Eybisi Salad Mix
                  p.prods__item-p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  p.prods__item-price $14.99
                  button.prods__item-btn
                    img(src="images/plus.svg", alt="plus").prods__item-btn__img
                .prods__item
                  img(src="images/prods.webp", alt="Eybisi Salad Mix").prods__item-img
                  p.prods__item-title Eybisi Salad Mix
                  p.prods__item-p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  p.prods__item-price $14.99
                  button.prods__item-btn
                    img(src="images/plus.svg", alt="plus").prods__item-btn__img
                .prods__item
                  img(src="images/prods.webp", alt="Eybisi Salad Mix").prods__item-img
                  p.prods__item-title Eybisi Salad Mix
                  p.prods__item-p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  p.prods__item-price $14.99
                  button.prods__item-btn
                    img(src="images/plus.svg", alt="plus").prods__item-btn__img
                .prods__item
                  img(src="images/prods.webp", alt="Eybisi Salad Mix").prods__item-img
                  p.prods__item-title Eybisi Salad Mix
                  p.prods__item-p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  p.prods__item-price $14.99
                  button.prods__item-btn
                    img(src="images/plus.svg", alt="plus").prods__item-btn__img
                .prods__item
                  img(src="images/prods.webp", alt="Eybisi Salad Mix").prods__item-img
                  p.prods__item-title Eybisi Salad Mix
                  p.prods__item-p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  p.prods__item-price $14.99
                  button.prods__item-btn
                    img(src="images/plus.svg", alt="plus").prods__item-btn__img
                .prods__item
                  img(src="images/prods.webp", alt="Eybisi Salad Mix").prods__item-img
                  p.prods__item-title Eybisi Salad Mix
                  p.prods__item-p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  p.prods__item-price $14.99
                  button.prods__item-btn
                    img(src="images/plus.svg", alt="plus").prods__item-btn__img
                .prods__item
                  img(src="images/prods.webp", alt="Eybisi Salad Mix").prods__item-img
                  p.prods__item-title Eybisi Salad Mix
                  p.prods__item-p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  p.prods__item-price $14.99
                  button.prods__item-btn
                    img(src="images/plus.svg", alt="plus").prods__item-btn__img
                .prods__item
                  img(src="images/prods.webp", alt="Eybisi Salad Mix").prods__item-img
                  p.prods__item-title Eybisi Salad Mix
                  p.prods__item-p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  p.prods__item-price $14.99
                  button.prods__item-btn
                    img(src="images/plus.svg", alt="plus").prods__item-btn__img
                .prods__item
                  img(src="images/prods.webp", alt="Eybisi Salad Mix").prods__item-img
                  p.prods__item-title Eybisi Salad Mix
                  p.prods__item-p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  p.prods__item-price $14.99
                  button.prods__item-btn
                    img(src="images/plus.svg", alt="plus").prods__item-btn__img
                .prods__item
                  img(src="images/prods.webp", alt="Eybisi Salad Mix").prods__item-img
                  p.prods__item-title Eybisi Salad Mix
                  p.prods__item-p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  p.prods__item-price $14.99
                  button.prods__item-btn
                    img(src="images/plus.svg", alt="plus").prods__item-btn__img
              .prods__sidebar
                p.prods__sidebar-title Руководителям и владельцам <br>ресторанов и кафе, 
                img(src="images/intro-3.webp", alt="gray block").prods__sidebar-main-img
                p.prods__sidebar-subtitle Руководителям и владельцам <br>ресторанов и кафе, 
                .prods__sidebar-row 
                  img(src="images/intro-3.webp", alt="gray-block").prods__sidebar-item 
                  img(src="images/intro-3.webp", alt="gray-block").prods__sidebar-item 
                  img(src="images/intro-3.webp", alt="gray-block").prods__sidebar-item 
                  img(src="images/intro-3.webp", alt="gray-block").prods__sidebar-item 
                .prods__sidebar-row 
                  img(src="images/intro-3.webp", alt="gray-block").prods__sidebar-item 
                  img(src="images/intro-3.webp", alt="gray-block").prods__sidebar-item 
                  img(src="images/intro-3.webp", alt="gray-block").prods__sidebar-item 
                  img(src="images/intro-3.webp", alt="gray-block").prods__sidebar-item 
                .prods__sidebar-order
                  p.prods__sidebar-order__p Ваш заказ: <br><br>Заказ Заказ Заказ Заказ 
                  img(src="images/intro-3.webp", alt="gray block").prods__sidebar-order__img
      include components/footer.pug
      +footer 

    script(src="scripts/jquery.js") 
    script(src="scripts/slick.min.js") 
    script(src="scripts/index.js") 