doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="styles/index.css")
  body 
    .wrapper
      include components/header.pug
      +header 
      main.main 
        .entering 
          .entering__body.container 
            a(href="index.html").brand__back.entering__back <img src="images/arrow-left-white.svg"> Вернуться назад 
            .entering__row
              .entering__col
                h2.entering__title Сотрудничество с компанией готовой продукции
                p.entering__subtitle Руководителям и владельцам ресторанов и кафе, буфетов и столовых, а также всем заинтересованным лицам! Компания "Восьмая Империя" предлагает сотрудничество в части реализации нашей продукции. Мы являемся производителями готовой продукции: блины без начинки, блинчики с начинкой, оладьи, сырники, а так же наша компания является владельцем торговой марки «Блинни Бон». Варианты поставки кулинарного продукта: весовая отгрузка или в упаковке.
                p.entering__p Внимание! Неправильно указанный номер телефона, неточный или неполный адрес могут привести к дополнительной задержке! Пожалуйста, внимательно проверяйте ваши персональные данные при оформлении заказа. Конфиденциальность ваших регистрационных данных гарантируется.
              .entering__col
                form(action="").entering__form
                  .entering__form-title Связаться с менеджером 
                  label(for="name").label.entering__label Ваше Имя
                  input(type="text" id="name" required).input.entering__input
                  label(for="tel").label.entering__label Телефон 
                  input(type="text" id="tel" required).input.entering__input
                  label(for="mail").label.entering__label Е-mail 
                  input(type="email" id="mail" required).input.entering__input
                  label(for="comp").label.entering__label Компания 
                  input(type="text" id="comp" required).input.entering__input
                  button(type="submit").entering__btn Отправить
                .connect__docs.entering__docs
                  form(action="docs/test-1.xlsx", method="get").connect__doc.entering__doc
                    button(type="submit") 
                      img(src="images/pdf.svg", alt="pdf").connect__doc-img
                      p.connect__doc-p Презентация <br>компании
                  form(action="docs/test-1.xlsx", method="get").connect__doc.entering__doc
                    button(type="submit") 
                      img(src="images/pdf.svg", alt="pdf").connect__doc-img
                      p.connect__doc-p Прайс-лист <br>продукции 2021
                  form(action="docs/test-1.xlsx", method="get").connect__doc.entering__doc
                    button(type="submit") 
                      img(src="images/excel.svg", alt="excel").connect__doc-img
                      p.connect__doc-p Прайс-лист <br>продукции 2021<br>Exel
                  form(action="docs/test-1.xlsx", method="get").connect__doc.entering__doc 
                    button(type="submit")
                      img(src="images/excel.svg", alt="excel").connect__doc-img
                      p.connect__doc-p Бланк заказа <br>товаров 2021
                   
      include components/footer.pug
      +footer 
      include components/popup.pug
      +popuptel
      +popupthanks
    script(src="scripts/index.js") 